/* global */
*, *:after, *:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: whitesmoke;
  font-family: Helvetica, sans-serif;
  height: 100vh;
}
.whiteText {
  color: white;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
}
.pinkText {
  color: deeppink;
}

/* todo-manager */
.todo-manager {
  height: 100vh;
}
.header {
  padding: 80px;
  text-align: center;
  background-color: #a29bfe;
  color:#2d3436;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 40px;
}

/* add-task-form */
.add-task-form{
  padding: 40px;
  text-align: center;
}
.input-todo {
  height: 30px;
  width: 500px;
  padding: 2px 5px;
  margin: 0 auto;
  font-size: 14px;
  outline: none;
}
.input-todo:focus {
  background-color: rgba(162, 155, 254, 0.4);
}
.submit-btn {
  height: 30px;
  padding: 2px 30px;
  font-size: 14px;
  margin-left: 10px;
  background-color: #6c5ce7;
  color: white;
  letter-spacing: 0.5px;
  border: 0;
  border-radius: 5px;
  text-transform: uppercase;
}
.submit-btn:hover {
  box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
  cursor: pointer;
}

/* task-list */
.task-list {
  padding: 30px 50px;
}
.task-list h2 {
  color: #2d3436;
  margin: 20px 0 10px 0;
}

/* task-container */
.task-container {
  border: 1px solid rgba(0,0,0,0.4);
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
}
.task-container p {
  margin: 10px;
}
.status-btn {
  font-size: 12px;
  display: inline-block;
  padding: 10px 5px;
  letter-spacing: 0.5px;
  transition: 0.2s;
}
.status-btn:hover {
  color: #6c5ce7;
  cursor: pointer;
}
.delete-btn {
  font-size: 12px;
  transition: 0.2s;
}
.delete-btn:hover {
  transform: translateY(8%);
  cursor: pointer;
}

.todo .status-btn:first-of-type,
.doing .status-btn:nth-of-type(2),
.done .status-btn:last-of-type
 {
  display: none;
}

/* footer */
.logo {
  position: fixed;
  top: 30%;
  left: 10px;
  color: #5f27cd;
  transform: rotate(90deg) translateY(350%);
  font-size: 12px;
}

/* loading animation */

/* responsive */
@media screen and (max-width: 768px) {
  .header {
    padding: 40px;
    font-size: 28px;
  }
  .input-todo {
    width: 80%;
  }
  .submit-btn {
    margin-top: 10px;
  }
}
